html, body {
  font-family: Verdana, Geneva, sans-serif;
  background: #eee;
}

html, body, #root, .app,
.journal, .journal > .row, .journal > .row > .column {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: ‘Times New Roman’, Times, serif;
}

a {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.unlock {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: #170a1f;
}

.unlock input[type=password] {
  color: #c5b7ce;
  width: 18em;
  display: block;
}

.unlock :disabled {
  opacity: .5;
}

.unlock .quality-0 {
  color: #bf0032;
}

.unlock .quality-1 {
  color: #d25c2b;
}

.unlock .quality-2 {
  color: #d25c2b;
}

.unlock .quality-3 {
  color: #64ca4d;
}

.entries {
  list-style-type: none;
}

.entry-link {
  color: #adadad;
  width: 100%;
  display: inline-block;
}

.header-actions {
  position: absolute;
  top: 0;
  height: 5rem;
}

.header-actions-left {
  left: 1rem;
}

.header-actions-right {
  right: 1rem;
}

.journal > .row > .column {
  padding-top: 5rem;
}

.column-writing {
  background-color: white;
}

.writing {
  padding: 1rem;
}

.column-entries, .column-writing {
  overflow: auto;
}
